body{
    background-color:rgb(20, 20, 49);
}

body #container{
    width: 90vw;
    height: 70vh;
    background-image: repeating-linear-gradient(90deg, #4CAF50, #00BCD4);
    margin: auto;
    margin-top: 15vh;
    box-shadow: 0px 0px 50px black;
    border-radius: 20px;
}

#heading{
    display: flex;
    justify-content: center;
    
}

#heading span{
    color: rgb(20, 20, 49);
    font-size: 2.5em;
    font-weight: bolder;
    padding: 20px;
}

#container #Counter-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#container #Counter-input #input{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;
    align-items: center;
}

#input label{
    display: flex;
    font-weight: bold;
    font-size: 20px;
    margin: 1rem;
    align-items: center;
    color: rgb(20, 20, 49);
}

#input input{
    height: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 30%;
    min-width: 100px;
    margin:0rem 1rem;
    box-shadow: 0px 0px 4px black;
    border-color: black;
    background-color: transparent;
}

#Counter-input button{
    border-radius: 30px;
    width: 110px;
    height: 30px;
    margin-left: 1%;
}
#Counter-input #btn1{
    color: burlywood;
    background-color: rgb(20, 20, 49);
}
#Counter-input #btn2{
    color: rgb(20, 20, 49);
    background-color: burlywood;
}

#Counter-input #btn1:hover{
    background-color: #9E9E9E;
    color: darkgreen;
    font-weight: bold;
}

#Counter-input #btn2:hover{
    background-color: #9E9E9E;
    color: #E91E63;
    font-weight: bold;
}

#counter-container, #counter-container *{
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: center;   
}

#counter{
    width: 70%;
    height: 20vh;
    background-color: rgb(20, 20, 49);  
}

#counter #ctr1{
    display: flex;
    width: 70px;
    height: 100px;
    background-color: black;
}

#counter #ctr1 #ctr2{
    display: none;
    width: 70px;
    height: 100px;
    background-color: white;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

#counter #invalid{
    display: none;
    font-size: 20px;
    color: burlywood;
    text-align: center;
}

@media screen and (max-width: 545px){
    
    #container #Counter-input #input {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    body #container {
        width: 90vw;
    }

}